# 编译结果
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x86/
x64/

# Visual Studio 用户配置
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ / IntelliSense
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/

# 编译中间文件
*.obj
*.pch
*.pdb
*.ilk
*.idb
*.tlog
*.log

# 测试结果
TestResults/

# ReSharper
_ReSharper*/
*.ReSharper.user

# 系统临时文件
Thumbs.db
Desktop.ini